.main-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: min-content;
}

.main-container .left {
  font-size: 60px;
  font-weight: 800;
  width: 400px;
}

.main-container .right {
  display: flex;
  align-items: center;
}

#card-image {
  width: 500px;
  height: 280px;
  object-fit: cover;
}

#transfer-image {
  width: 150px;
}

#get-started-button {
  font-size: 25px;
  background-color: #1726f3;
  color: #fff;
  padding: 10px 20px;
  border-radius: 30px;
}

footer {
  position: absolute;
  bottom: 0;
  padding: 30px 0;
  width: calc(100% - 200px);
  text-align: center;
}