.main-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: min-content;
}

.main-container .left {
  font-size: 60px;
  font-weight: 800;
  width: 400px;
}

.main-container .right {
  display: flex;
  align-items: center;
}

#card-image {
  width: 500px;
  height: 280px;
  object-fit: cover;
}

#transfer-image {
  width: 150px;
}
