header {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-content: center;
  padding: 20px 0;
  margin: 0 0 50px 0;
}

header div {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 10px;
}

.header-login {
  background-color: #1726f3;
  color: #fff;
  font-size: 20px;
  border-radius: 9px;
  padding: 5px 20px;
  font-weight: 600;
}

.header-logout {
  font-size: 18px;
  font-weight: 600;
  padding: 10px 20px;
  background-color: transparent;
  color: #1726f3;
}

#user {
  font-weight: 600;
  cursor: pointer;
  position: relative;
}

#user img {
  width: 9px;
}

#user:hover .user-dropdown,
.user-dropdown:hover {
  display: flex;
}

.user-dropdown {
  display: none;
  flex-direction: column;
  align-items: flex-start;
  position: absolute;
  bottom: -60px;
  width: 130px;
  height: 60px;
  border: 2px solid #e0e4ee;
  background-color: #f3efef;
  border-radius: 5px;
  padding: 10px;
}

header .middle {
  display: flex;
  column-gap: 30px;
}

.fund-transfer {
  position: relative;
}

.fund-transfer:hover .fund-dropdown,
.fund-dropdown:hover {
  display: flex;
}

.fund-dropdown {
  position: absolute;
  display: none;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 5px;
  bottom: -65px;
  left: 0;
  width: 160px;
  text-align: left;
  padding: 5px;
  border-radius: 5px;
  border: 2px solid #e0e4ee;
  background-color: #f3efef;
}

.fund-hover a {
  color: #000;
}

.header-link {
  color: black;
  font-weight: 600;
}

#title {
  color: #000;
  font-size: 30px;
}

#logo {
  width: 50px;
}
.mobile-nav-button {
  display: none;
}

@media screen and (max-width: 768px) {
  header {
    margin: 0;
    padding: 10px 0;
  }
  header .middle {
    column-gap: 10px;
  }
}

@media only screen and (max-width: 600px) {
  header > .middle {
    display: none;
  }
  #title {
    font-size: 18px;
  }
  #logo {
    width: 30px;
  }
  #user:hover .user-dropdown,
  .user-dropdown:hover {
    display: none;
  }
  .header-logout {
    padding: 5px 10px;
    font-size: 16px;
  }
  header > .right {
    column-gap: 0;
  }
  .mobile-nav-button {
    display: inline-block;
    font-size: 25px;
  }
}
