.transfer-input {
  width: 100%;
  height: 50px;
  margin: 10px 0;
  padding: 10px 20px;
  border: none;
  border-radius: 12px;
  outline: none;
  font-family: inherit;
  font-size: 18px;
  background-color: #fff;
}

.transfer-title {
  margin: 30px 0;
  font-size: 24px;
}

.transfer-button {
  font-size: 20px;
  font-weight: 600;
  height: 50px;
  cursor: pointer;
  background-color: #1726f3;
  border: none;
  width: 100%;
  color: #fff;
  border-radius: 12px;
  font-family: inherit;
  font-weight: 600;
  margin: 30px 0 0 0;
}