main {
}

.form-container {
  background-color: #f3efef;
  display: block;
  color: #282336;
  padding: 20px 20px;
  width: 400px;
  text-align: center;
  border-radius: 30px;
  border: 2px solid #e0e4ee;
}

.other-option {
  margin: 40px 0 0 0;
  font-weight: 600;
}

.nav-link.back-button {
  width: 100%;
}

a {
  text-decoration: none;
}

.nav-link {
  background-color: #222222;
  color: #f3f3f3;
  padding: 10px 20px;
  margin: 5px 0;
  width: 300px;
  font-size: 25px;
  box-shadow: 3px 3px 6px 1px #636363;
}

.nav-link:hover {
  transform: scale(1.02);
}

button {
  border: none;
  outline: none;
}

button:hover {
  cursor: pointer;
}

label,
.user-name {
  text-transform: capitalize;
}
