* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: "Nunito Sans", sans-serif, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f9f9f9;
  padding: 0 100px;
  /*background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
  background-repeat: no-repeat;*/
  min-height: 100vh;
  position: relative;
}

#root {
  height: 100%;
}

@media screen and (max-width: 992px) {
  body {
    padding: 0 30px;
  }
}

@media only screen and (max-width: 600px) {
  body {
    padding: 0 20px;
  }
}
