.overlay {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: -50%;
  background-color: #f3efef;
  overflow-x: hidden;
  transition: 0.5s;
}

.show-overlay {
  left: 0;
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: left;
  margin-top: 30px;
  padding-left: 15px;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #000;
  display: block;
  transition: 0.3s;
}

.overlay a:hover,
.overlay a:focus {
  color: #f1f1f1;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
  background: none;
  color: #000;
}
.mobile-fund-transfer {
  padding: 8px;
  text-decoration: none;
  font-size: 20px;
  color: #000;
  display: block;
  transition: 0.3s;
}
.mft-content {
  max-height: 0;
  overflow: hidden;
  transition: 0.3s;
}

.mft-expand {
  max-height: 100px;
  /* transition: 0.3s; */
}

@media screen and (max-width: 600px) {
  .overlay a {
    font-size: 20px;
  }
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
  .mft-content a {
  font-size: 18px;
}
}
